<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GherkinDemo2.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see https://github.com/techtalk/SpecFlow/wiki/Configuration --><unitTestProvider name="NUnit" /></specFlow>
  <applicationSettings>
    <GherkinDemo2.Tests.Properties.Settings>
      <setting name="SeleniumImplicitWaitSeconds" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="SeleniumFindElementTimeout" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SeleniumNavigationTimeout" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="SiteRoot" serializeAs="String">
        <value>http://localhost:1316/</value>
      </setting>
    </GherkinDemo2.Tests.Properties.Settings>
  </applicationSettings>
</configuration>